/*********************
* Global Stylesheets *
**********************/
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

//@import "../../third-party/foundation_icons_accessibility/sass/accessibility_foundicons";
//@import "../../third-party/foundation_icons_general/sass/general_foundicons";
//@import "../../third-party/foundation_icons_general_enclosed/sass/general_enclosed_foundicons";
//@import "../../third-party/foundation_icons_social/sass/social_foundicons";
@mixin button {

  &:hover {
  }
}

@mixin background {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
* {
  image-rendering: -webkit-optimize-contrast;
}

.main-template{
  & > div:nth-child(1){
   padding-top: 65px;
  }

  & > div:last-child{
    padding-bottom: 80px;
  }

  font-size: 13px;
  line-height: 2;
}

body{
  font-family: "Open Sans";
  line-height: 20px;
  font-weight: 400;
  font-style: normal;
  color: #767676;
  font-size: 13px;
}
.container{
  max-width: 1222px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  padding: 0 30px;
  @include breakpoint(small only){
    width: 100%;
  }
  @include breakpoint(medium only){
    width: 100%;
  }
}

.content{
  width: 95%;
}

header{
  position: relative;
}

header{
  padding: 0 !important;
}

.price{
  line-height: 1;
  .p{
    font-size: 70px;
    font-weight: 500;
  }
  .period{
    font-size: 20px;
    font-weight: 500;
  }
}

.col-list{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  li {
    flex: 1 1 auto;
    max-width: 50%;
    padding-left: 15px;

    &::marker {
      font-family: 'foundation-icons';
      font-size: 20px;
      content: "\f127";

    }
  }
}

.text-lister{
  li {
    padding-left: 15px;
    &::marker {
      font-family: 'foundation-icons';
      font-size: 20px;
      content: "\f1d3";
      color: #1779ba;
    }
  }

}

p, h1,h2,h3,h4,h5, h6{

    margin: .5rem 0;

}

.padding-bottom{
  padding-bottom: 25px;
}


.padding-top{
  padding-top: 10px;
}