.contact-us{

    li {
      list-style-type: none;
      padding: 0;
      &::marker{
        content: " " !important;
        display: none;

      }

      a{
        text-decoration: none;
      }
      i {
        margin-right: 10px;
      }
    }

}