.faqs{
  .accordion-title{
    font-size: 19px;
    text-transform: uppercase;
      text-decoration: none;
      font-weight: 700;
      color: #1779ba;
  }

  &-title{
    text-align: center;
    font-color: #0082c8;
  }

  .text-button{
    margin-top: 25px;
  }
}