.hero-image {
  position: relative;
  //background-image: url(../images/swish-bg.png);
  //background-repeat: no-repeat !important;
  //background-position: top center !important;;
  //background-size: 100% 100%  ;
  &-container {
    min-height: 75vh;
    max-width: 767px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    //align-items: center;

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(24, 24, 24, 0.2);
      transition: background ease-in-out .3s;
    }
  }
  &-text-area{
    width: 75%;
    max-width: 767px;
    margin-top: 50px; /* Adjust margin top as per your requirement */
    text-align: center;
    color: #fff;
      .title{
        font-size: 25px;
      }
  }
}