.desktop-menu {
  position: relative;
  top: 0;
  z-index: 99999;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 900;
  background: #fff;
  height: 150px;
  width: 100%;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1290px;
  }

  .logo-container {
    max-width: 20%;
    flex: 1 1 20%;

    @include breakpoint(medium only) {
      max-width: 20%;
      flex: 1 1 20%;
    }

    img {
      width: 200px;
      height: 100%;
    }
  }

  .top-bar {
    flex: 1 1 80%;
    max-width: 80%;
    display: flex;
    justify-content: center;
  }

  .top-bar, .top-bar-left {
    //height: 100%
    width: 100%;
  }

  .main-navigation {
    height: 100%;

    li {
      flex: 1 1 auto;
      max-width: 100%;

      & > a {
        max-width: 100%;
        justify-content: center;
        height: 100%;
        display: flex;
        align-items: center;
        color: #161616;
        padding: 15px 15px;


        @include breakpoint(small only) {
          font-size: .5rem;
        }

        @include breakpoint(medium only) {
          font-size: .5rem;
        }

        &:active {
          background: #000;
          color: #fff
        }

        &:hover {
          background: #000;
          color: #fff
        }
      }
    }


    .submenu {
      background: #000;
      border: none;

      li > a {
        color: #fff;
        justify-content: left;

        &:hover {
          background: #fff;
          color: #000
        }

      }
    }
  }

  .menu .active > a {
    background: #000;
    color: #fff;
  }


  &.homepage {
    position: absolute !important;
    background: #00000085;

    .main-navigation {
      li > a {
        color: #fff;

        &:active {
          background: #fff;
          color: #161616;
        }

        &:hover {
          background: #fff;
          color: #161616;
        }
      }
    }
  }
}





.mobile-menu{
  background: #161616;
  height: 100px;
  .container{
    .title-bar{
      height: 100%;
      align-items: center;
      display: flex;
      justify-content: space-between;

      .logo-container{
        flex: 1 1 30%;
        max-width: 30%;
      }
    }
    #menu-container{
      display: none;
    }
  }
}

.moby{

  ul li{
    flex: 1 1 100%;
    max-width: 100%;
    padding: 8px 15px;
  }
  ul li a {
    padding: 15px;
    font-size: 20px;
    > img{
      height: 30px;
      width: 100%;
    }


  }
}

.moby.right-side{
  background: #000;
  min-height: 100vh;
  width: 90%;
}
.moby .moby-close {
  color: #fff;
  cursor: pointer;
  background: #000;

}
.moby-menu{

}