.programs{
  margin-bottom: 25px;
  &-icon{
    width: 40px;
    height: 40px;
    float: left;
    //width: 45px;
    //height: 45px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;

    span{
      font-size: 40px;
    }
  }
  &-description{
    margin-left: 60px;

    a.title{

    }
    .title{
      text-decoration: none;
      text-transform: uppercase;
      > a {
        text-decoration: none;
        color: #0082c8;
      }
    }

    .link-container{
      width: 100%;
      text-align: right;
    }
  }
}