.testimonials{

  @include breakpoint(small only){
    .main-template .container{
      padding: 0;
    }
  }
  .main-template{
    padding: 25px 0px 50px;
  }
  &-archive{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin-right: 2.5rem;
    margin-left: 2.5rem;


    @include breakpoint(small only){
      margin-right: 0rem;
      margin-left: 0rem;
    }
    @include breakpoint(medium only){
      margin-right: 0rem;
      margin-left: 0rem;

    }


    .testimonial{
      flex: 1 1 calc(50% - 5rem);
      max-width: calc(50% - 5rem);
      margin: .5rem 2.5rem;

      @include breakpoint(small only){
        flex: 1 1 calc(100% - .5rem);
        max-width: calc(100% - .5rem);
         margin: .5rem 0rem;
      }
      @include breakpoint(medium only){
        flex: 1 1 calc(100% - .5rem);
        max-width: calc(100% - .5rem);
         margin: .5rem 0rem;
      }
      .box {
        width: 100%;
        margin: 20px auto;
        background: #fff;
        padding: 20px 20px 30px;
        text-align: center;
        font-weight: 200;
        border: 1px solid black;
        color: #000;
        position:relative;

        p{
          font-size: 14px;
        }
        .parent{
          text-align: right;
          > span {
            font-weight: 200;
          }
        }
        &:before{
          content: "";
          width: 0px;
          height: 0px;
          position: absolute;
          border-left: 15px solid transparent;
          border-right: 15px solid #000;
          border-top: 15px solid #000;
          border-bottom: 15px solid transparent;
          right: -2px;
          bottom: -30px;
          @include breakpoint(small only){
            display: none;
          }
        }
        &:after{
          content: "";
          width: 0px;
          height: 0px;
          position: absolute;
          border-left: 30px solid transparent;
          border-right: 30px solid #fff;
          border-top: 30px solid #fff;
          border-bottom: 30px solid transparent;
          right: 0px;
          bottom: -24px;

          @include breakpoint(small only){
            display: none;
          }

        }
      }
    }
  }
}