.text-image-row{

  &__flex{
    display: flex;
    flex-flow: row wrap;
  }

  .image{
    max-width: 100%;
    border: 1px solid black;

  }

  .text{
    flex: 1 1 auto;
    max-width: 100%;
    padding: 25px 50px;
  }
}