.edlip{
   padding: 25px 0;
   width: 100%;

   &-flex {
     width: 100%;
     margin: 10px -12.5px;
     display: flex;
     justify-content: center;
     flex-flow: row wrap;
   }
     &-boxes {
       flex: 1 1 calc(33.3333% - 25px);
       max-width: 270px;
       border: 1px solid #bcbcbc;
       margin-left: 12.5px;
       margin-right: 12.5px;
       margin: 12.5px;
       border-radius: 20px;
       height: 200px;
       position: relative;
       background: #268fbb;
        display: flex;
       align-items: center;
       justify-content: center;
       @include breakpoint(small only) {
         flex: 1 1 75%;
         max-width: 75%;
         margin: 12.5px;
         border: none !important;
         border-radius: 0px;
       }
       @include breakpoint(medium only) {
         border-radius: 0px;
         flex: 1 1 calc(50% - 25px);
         max-width: calc(50% - 25px);
         margin: 12.5px;
         border: none !important;
       }

       .details {
         height: auto;
         color: #fff;

         text-align: center;

         .text {
          width: 75%;
           margin: 0 auto;
          text-align: center;
           line-height: 1.5;
           font-size: 14px;
         }

         @include breakpoint(small only) {

         }
         @include breakpoint(medium only) {

         }
       }
     }


 }

